{{ $coursePages := where .Site.RegularPages ".Params.courseid" .Params.courseid }}
{{ $currentPage := . }}
{{ if ge (len $coursePages) 2 }}
<strong class="d-block h6 my-2 pb-2 border-bottom">Pages</strong>
<nav class="nav" id="course-pages">
    <ul>
      {{ range $coursePages }}
          <li class="nav-item rounded">
            <a class="nav-link {{ if eq .Permalink $currentPage.Permalink }}active{{end}}" href="{{ .Permalink }}">{{ .Name }}</a>
          </li>
      {{ end }}
  </ul>
</nav>
{{ end }}