<div class="row">
    <h1 class="display-5">All courses</h1>
    {{ range .Pages }}
    <div class="col-sm-6 col-lg-4 my-2">
        <div class="card w-100 h-100">
            <div class="card-body">
                {{ with (.Resources.GetMatch "featured.*") }}
                <img src="{{.Permalink}}" class="card-img-top">
                {{ end }}
                <h6 class="card-title mt-2">{{.Title}}</h6>
                <p class="card-text">{{.Description | truncate 100}}</p>
                <div>
                    {{ partial "utilities/list-tags" . }}
                </div>
                <div class="align-middle">
                    {{ partial "utilities/list-pathways" . }}
                </div>
            </div>
            <div class="card-footer">
                <a href="{{.Permalink}}" class="btn btn-success align-self-end">Start</a>
            </div>
        </div>
    </div>
    {{ end }}
</div>