<section class="container-fluid p-0">
    <div class="bg-image py-5"
        style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('featured.jpg');">
        <div class="p-3">
            <h1 class="text-white">{{.Title}}</h1>
            <p class="lead text-white">{{.Description}}</p>
            <p class="text-white text-end">
                {{ with .Params.tags }}
                    {{- $lenTags := (len .) -}}
                    <span class="material-icons fs-6 align-middle">sell</span>
                    {{ range $index, $tag := . }}
                        <a href="{{ printf "../tags/%s" $tag }}" class="text-decoration-none text-light">{{ $tag }}</a>
                        {{- if lt $index (sub $lenTags 1) -}}
                        ,
                        {{- end -}}
                    {{ end }}
                {{ end }}
                {{ with .Params.pathways }}
                    <span class="material-icons fs-6 align-middle">bookmark</span>
                    {{ range . }}
                        {{.}}
                    {{ end }}
                {{ end }}
            </p>
        </div>
    </div>
</section>
<section class="container my-4">
    <div class="row">
        <div class="col-10 mx-auto">
            {{.Content}}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-10 text-center">
            {{ $coursePages := where .Site.RegularPages ".Params.courseid" .Params.courseid }}
            {{ if ge (len $coursePages) 1 }}
                {{ range first 1 $coursePages }}
                    <a href="{{.Permalink}}" class="btn btn-success">Go!</a>
                {{ end }}
            {{ else }}
                Coming soon!
            {{ end }}
        </div>
    </div>
</section>