@import "bootstrap/functions";
@import "bootstrap/variables";

//Edu specific styles
html {
    scroll-behavior: smooth;
}

{{ with .Site.Params.fontbody }}
body {
    font-family: {{ . }}
}
{{ end }}

{{ with .Site.Params.fontheading }}
h1, h2, h3, h4, h5, h6 {
    font-family: {{ . }}
}
{{ end }}

{{ with .Site.Params.fontcode }}
code {
    font-family: {{ . }}
}
{{ end }}

pre {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 7px;
    tab-size: 4;
}

#TableOfContents ul {
    list-style: none;
    padding-left: 10px;
    margin-left: 0;
}

#TableOfContents a {
    color: $secondary;
    text-decoration: none;
    font-size: small;
}

#course-pages ul {
    list-style: none;
    padding-left: 5px;
    margin-left: 0;
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
    .hugo-toc {
        position: sticky;
        border-left: 1px solid #efefef;
        padding-left: 1rem;
        top: 2rem;
        align-self:start;
        display:block;
    }
}

.fancy-date{
    vertical-align: top;
    color: black;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.fancy-date .day,
.fancy-date .month,
.fancy-date .year {
    text-align: center;
    line-height: 1.0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1em;
}

.fancy-date .day {
    top: 0px;
    text-transform: uppercase;
    font-size: 36px;
}

.fancy-date .month {
    top: 35px;
    text-transform: uppercase;
    font-weight:600;
    font-size: 22px;
}

.fancy-date .year {
    top: 57px;
    text-transform: uppercase;
    font-size: 22px;
}

.navbar-site-title {
    font-weight: bold;
}

.navbar-logo {
    max-height: 30px;
}

.course-pages-list {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
    .hero-image {
        min-height: 300px;
    }
    .hero-content {
        min-height: 300px;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .hero-image {
        min-height: 300px;
    }
    .hero-content {
        min-height: 250px;
    }
}

#blog-post {
    .blog-title {
        font-style: bold;
    }

    .blog-date {
        font-weight: lighter;
    }

    .blog-author {
        font-size: small;
        font-style: italic;
        margin-top: -10px;
    }
}

#img-credit {
    font-size: x-small;
    text-align: center;
}

#img-credit a {
    text-decoration: none;
    color: $text-muted;
}

.card-list {
    width: 18rem;
    min-height: 20rem;
    padding: 0;
}

#card-list div {
    padding: 0;
    margin: 10px;

    .card-footer {
        background-color: #ffffff;
        border: 0;
    }
}

#card-list h1 {
    font-size: large;
    padding: 10px;
}

#card-list p {
    padding: 0px 20px;
    font-size: small;
}

#card-list img {
    padding-bottom: 10px;
}

#card-list a {
    text-decoration: none;
    color: $color-contrast-dark;
}

.card-date {
    font-weight: bold;
    font-size: smaller;
    padding: 0;
}

#card-tags {
    font-size: smaller;
    text-align: right;
}

#card-tags a {
    background-color: $primary;
    color: $color-contrast-light;
    padding: 0 5px;
}