{{ define "main" }}
{{/*List page content*/}}
<h1 class="display-5">{{ .Title }}</h1>
{{- with .Params.subtitle -}}
<p class="lead">{{ . }}</p>
{{- end -}}
{{ .Content }}

{{/*List pages*/}}
<div id="card-list" class="row">
    {{- range first 10 .Pages -}}
    <div class="card card-list mx-auto">
        {{- with (.Resources.GetMatch "featured.*") -}}
        <img src="{{.Permalink}}" class="card-img-top">
        {{- end -}}
        <h1 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <p>
            <a href="{{.RelPermalink}}" class="text-decoration-none">
            {{ .Summary | truncate 100 }}
            </a>
        </p>
        <div class="d-flex card-footer mt-auto">
            <div class="flex-grow-0 card-date">{{ dateFormat "2 JAN 2006" .Date }}</div>
            <div id="card-tags" class="ms-auto">
                {{ range $index, $tag := .Params.tags }}
                    <a href="{{printf "../tags/%s" $tag}}">{{$tag}}</a>
                {{ end }}
            </div>
        </div>
    </div>
    {{- end -}}
</div>

{{ end }}
