{{ define "main" }}
<div id="featuredimage" class="row mb-3">
    <div class="col-12 mx-auto">
        {{- with (.Resources.ByType "image").GetMatch "*featured*"  -}}
        <img src="{{.RelPermalink}}" class="img-fluid mx-auto d-block">
        {{- end -}}
        {{- with .Params.featimgcredit -}}
        <p id="img-credit" class="text-muted">{{ . | markdownify }}</p>
        {{- end -}}
    </div>
</div>

<div id="blog-post" class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        <h1 class="blog-title">{{ .Title }}</h1>
        <p class="blog-date">{{ dateFormat "January 2, 2006" .Date}}</p>
        <p class="blog-author">{{ site.Params.Author }}</p>
        {{ .Content }}
    </div>
</div>
{{ end }}