{{ define "main" }}
<h1>{{.Data.Plural}}: {{.Data.Term}}</h1>
Pathways are mastery paths

{{ with.Params.description }}
    {{ . }}
{{ end }}
<div class="list-group">
  {{ range .Data.Pages }}
      <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action">{{.Title}}</a>
  {{ end }}
</div>
{{ end }}