{{/*Taxonomy page for pathways*/}}
{{ define "main" }}
<h1>{{.Data.Plural}}</h1>


<ul>
    {{ range $key, $taxonomy := .Site.Taxonomies.pathways }}
    <li>{{ $key }}</li>
    <ul>
        {{ range $taxonomy.Pages }}
        <li hugo-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}">{{ .LinkTitle }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</ul>


{{ end }}
