{{ define "main" }}
<div class="row my-3">
{{ with (.Resources.ByType "image").GetMatch "*featured*"  }}
<img src="{{.RelPermalink}}" class="img-fluid shadow rounded mx-auto d-block p-2">
{{ end }}
</div>
<h1 class="display-5 mb-3">{{ .Title }}</h1>
{{ with .Params.subtitle}}
    <p class="lead">{{ . }}</p>
{{ end }}
<div class="row">
    <div class="col-12">
    {{ .Content }}
    </div>
</div>
{{ end }}