{{- $currentPage := . -}}
<nav class="navbar navbar-expand-md {{if .Site.Params.navbardark }}navbar-dark bg-dark{{else}}navbar-light bg-light{{end}} shadow-sm" aria-label="Main navigation bar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      {{- with .Site.Params.SiteLogo -}}
      <img src="{{$.Site.BaseURL}}{{ $.Site.Params.SiteLogo }}" alt="" class="d-inline-block align-top mr-2 navbar-logo">
      {{- end -}}
      {{ if .Site.Params.shownavtitle}}
      <span class="font-weight-bold navbar-site-title">
      {{ .Site.Title }}
      </span>
      {{ end }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnavbar" aria-controls="mainnavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainnavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
        {{- range .Site.Menus.main -}}
          {{- if .HasChildren -}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ .Name }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{- range .Children -}}
                <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                {{- end -}}
              </ul>
            </li>          
          {{- else -}}
            <li class="nav-item">
              <a class="nav-link {{- if $currentPage.IsMenuCurrent "main" . }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{- end -}}
        {{- end -}}
      </ul>
      <form id="search-form" class="noscript d-flex" method="GET" action="https://duckduckgo.com/" data-language-prefix="{{ site.LanguagePrefix }}">
          <input id="search-input" class="form-control me-2" name="q" tabindex="0" autocomplete="off" placeholder="Search">
          <button id="search-submit" class="btn btn-outline-success" type="submit">Search</button>
        <ul id="search-results" class="dropdown-menu"></ul>
      </form>
    </div>
  </div>
</nav>