
<div class="container-fluid">
<div class="row border-top text-center text-muted mt-5">
    <div class="col-12 mt-1 fs-6 fw-light">
        {{- with site.Params.Copyright -}}
            {{- replace . "@year" now.Year | markdownify -}}
        {{- end -}}
    </div>
    <div class="col-12 mt-1 fs-6 fw-light">
        Made with <a href="https://gohugo.io" class="text-decoration-none">Hugo</a> and Edu
    </div>
</div>
</div>