<!doctype html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partialCached "search" . -}}
        {{- partial "site_footer.html" . -}}
    </body>
</html>