{{ with .Params.pathways }}
<span class="material-icons fs-6 align-middle">bookmark</span>
{{ range $index, $pathway := . }}
 <a href="{{(printf "/pathways/%s" (urlize $pathway ))}}" class="text-primary text-decoration-none">{{$pathway}}</a>
{{ end }}
{{ end }}