{{ with .Params.tags }}
<span class="material-icons fs-6 align-middle">sell</span>
{{ range $index, $tag := . }}
 <a href="{{(printf "/tags/%s" (urlize $tag ))}}" class="text-primary text-decoration-none">{{$tag}}</a>
{{ end }}
{{ end }}