{{ define "main" }}
{{ $paginator := .Paginate (where .Pages "Type" "news") 5}}
{{ $len := (len $paginator.Pages) }}
    <h1 class="display-5">{{.Title}}</h1>
    {{ with .Params.subtitle}}
    <p class="lead">{{ . }}</p>
    {{ end }}
    {{ .Content }}
    {{ range $index, $element := $paginator.Pages }}
    <div class="row mt-4 {{ if ne (add $index 1) $len }}border-bottom{{end}} ">
        <div class="d-sm-none d-md-block col-2 text-end">
            <time datetime="{{ dateFormat "2006-02-01" .Date }}" class="fancy-date">
                <span class="text-center d-block position-absolute day">{{dateFormat "02" $element.Date}}</span>
                <span class="text-center text-uppercase d-block position-absolute month">{{dateFormat "Jan"
                    $element.Date}}</span>
                <span class="text-center d-block position-absolute year">{{dateFormat "2006" $element.Date}}</span>
            </time>
        </div>
        <div class="col-12 col-md-8">
            <span class="d-none d-sm-block d-md-none h4">
                <time datetime="{{ dateFormat "2006-02-01" .Date }}">
                    <strong>{{dateFormat "Monday, Jan 2, 2006" $element.Date}}</strong>
                </time>
            </span>
            <article class="news mb-4">
                <div class="row">
                    <div class="col-12">
                        <h2><a href="{{$element.Permalink}}" class="text-decoration-none text-body">{{$element.Title}}</a></h2>
                    </div>
                </div>
                <div class="row">
                {{ with (.Resources.ByType "image").GetMatch "*featured*"  }}
                <img src="{{.RelPermalink}}" class="img-fluid p-2 mh-20 mx-auto">
                {{ end }}
                </div>
                <div class="row">
                {{$element.Summary}}
                </div>
                <div class="row">
                    <div class="col-5">
                    {{if $element.Truncated}}
                    <a href="{{$element.Permalink}}" class="btn btn-primary mt-2">Read more</a>
                    {{end}}
                    </div>
                </div>
            </article>
        </div>
    </div>
    {{end}}
    <div class="row mt-4">
        <div class="d-sm-none d-md-block col-2 text-end">
        </div>
        <div class="col text-start">
            {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL }}" class="text-decoration-none text-muted">Newer</a>
            {{ end }}
        </div>
        <div class="col text-end">
            {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL }}" class="text-decoration-none text-muted">Older</a>
            {{ end }}
        </div>
   </div>
{{ end }}
