{{ define "main" }}
<div class="row my-3">
{{ with (.Resources.ByType "image").GetMatch "*featured*"  }}
<img src="{{.RelPermalink}}" class="img-fluid shadow rounded mx-auto d-block p-2">
{{ end }}
</div>
<h1 class="text-center mb-3">{{ .Title }}</h1>
{{ with .Params.subtitle}}
    <p class="lead">{{ . }}</p>
{{ end }}
<p class="text-center">
    <time datetime="{{ dateFormat "2006-02-01" .Date }}">
        <emphasis>{{dateFormat "Monday, Jan 2, 2006" .Date}}</emphasis>
    </time>
</p>
<div class="row">
    <div class="col-12">
    {{ .Content }}
    </div>
</div>
{{ end }}