<section>
    <h3 class="text-center mb-3">Featured courses</h3>
    {{ $coursePages := where .Site.Pages "Section" "course" }}
    {{ if ge (len $coursePages) 1 }}
    <div class="row">
      {{ range $coursePages }}
        {{ if .Params.Featured }}          
          <div class="col-12 col-md-6 col-lg-4 my-2 mx-auto">
              <div class="card w-100 h-100">
                {{ with (.Resources.GetMatch "featured.*") }}
                  <img src="{{ .Permalink }}" class="card-img-top">
                {{ end }}
                  <div class="card-body">
                      <h5 class="card-title">{{.Title}}</h5>
                      <p class="card-text">{{.Description}}</p>
                      <a href="{{.Permalink}}" class="btn btn-primary">Go</a>
                  </div>
              </div>
          </div>
        {{ end }}
      {{end}}
    </div>
    {{ end }}
  </section>