{{/* Get variables */}}
{{ $img := "" }}
{{ if .IsNamedParams }}
  {{ $img = (.Get "img")}}
{{ else }}
  {{ $img = (.Get 0) }}
{{ end }}

{{ $btn1_href := "" }}
{{ $btn1_text := "" }}
{{ if .IsNamedParams }}
  {{ $btn1_href = (.Get "btn1_href")}}
  {{ $btn1_text = (.Get "btn1_text")}}
{{ end }}

{{ $btn2_href := "" }}
{{ $btn2_text := "" }}
{{ if .IsNamedParams }}
  {{ $btn2_href = (.Get "btn2_href")}}
  {{ $btn2_text = (.Get "btn2_text")}}
{{ end }}

<section class="p-0">
    <div class="bg-image py-5 text-center hero-image" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ $img }}');">
      <div class="d-flex flex-row justify-content-center hero-content">
        <div class="text-white  my-auto">
          {{.Inner | markdownify }}
          <div>
          {{ if (len $btn1_href) }}
            <a class="btn btn-primary" href="{{ $btn1_href }}">{{ $btn1_text }}</a>
          {{ end }}
          {{ if (len $btn2_href) }}
            <a class="btn btn-secondary" href="{{ $btn2_href }}">{{ $btn2_text }}</a>
        {{ end }}
        </div>
        </div>
      </div>
    </div>
</section>