{{ if .IsNamedParams }}

<span class="material-icons">{{ with .Get "name" }}{{ . }}{{ end }}</span>

{{ else }}

<span class="material-icons">{{ if len .Params | eq 1}}{{ .Get 0 }}{{ end }}</span>

{{ end }}