{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="hugo-toc col-lg-2 order-lg-last">
            {{ if gt .WordCount 400 }}
            <aside>
                {{ if .TableOfContents }}
                <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
                {{ .TableOfContents }}
                {{ end }}
            </aside>
            {{ end }}
        </div>    
        <div class="col-lg-8 order-last-2">
            <h1>{{ .Title }}</h1>
            {{ with .Description }}
                <p class="lead">{{ . }}</p>
            {{ end }}
            {{ .Content }}
        </div>
        <div class="col-lg-2 order-lg-first">
            {{ partial "course/course-module-nav.html" . }}
        </div>          
    </div>
</div>
{{ end }}